	*{
		margin: 0;
		padding: 0;
	}
	
	body{
		background-color: #e8f8ff;
		font-size: 15px;
		font-family: 微软雅黑;
		color: #333333;
	}
	#content{
		width: 1006px auto;
	}
	#top img{
		width: 1006px;
		height: 213px;
		margin: 0px 0px 0px 450px;
		border-top: c
	}
	#header{
		width: 1000px;
		height: 35px;
		margin: -6px 0px 0px 450px;
		padding: 2px 0px 0px 0px;
		position: relative;
	}
	#header img{
		width: 1006px;
		height: 35px;
		margin: 0px 0px 0px -990px;
		position: absolute;
	}
	#header  ul li{
		float: left;
		padding: 10px 21px;
		list-style: none;	
	}
	a:link ,a:visited{ 
		color:black;  
		text-decoration:none;
		outline: none;
	}
	#banner{
		width: 1005px;
		height: 45px;
		margin: 0px  0px 0px 450px; 	
		background:url(../images/pd_banner.jpg) ;
	}
	#banner span{
		float: left;
		margin: -3px 0px 0px 10px;
		font-size: 9pt;
	}
	#banner p{	
		margin: 10px 300px 0px 300px;
		float: right;
	}
	.search{
	    width: 300px;
	    height: 20px;
	    margin: -20px 10px 0px 700px;
	    float: left;
	    background: url(../images/pd_sousuotop.jpg); 
	}
	#main{
		width: 1003px;
		height: 700px;
		margin: -6px 0px 0px 450px;
		border: #aacef2  1px solid;
		background-color: white;
		position: relative;
	}
	#maintopa{
		width: 660px;
		height: 240px;
		margin: 0px 0px 0px 0px;
		border: #aacef2  1px solid;
		background: url(../images/pd_jiaobiao.jpg) no-repeat;
		position: absolute;
	}
	#maintopleft span{
	    font-size: 14px;
	    font-weight: bold;
	    color: #0041a6;
	    margin: 0px 0px 0px 20px;
	}
	#maintopright img{
		width: 490px;
		height: 25px;
		margin: -20px 0px 0px 170px;
		position:absolute;
	}
	#maintopright span{
	    font-size: 14px;
	    font-weight: bold;
	    color: #0041a6;
	    margin: -16px 0px 0px 600px;
	    position: absolute;
	}
	#biaoge{
		margin: 30px 0px;
		width: 660px;
		height: 210px;
		border: #aacef2  1px solid;
	}
	a:hover {
	    color: #cc0000;
	}
	#biaoge ul{
		padding:0px 10px; 
	    font-size: 10pt;
	    list-style-type: none;
	    text-decoration: none;
	}
	.biaogeleft{
		width:330px;
		height: 210px;
	}
	.biaogeleft li{
		margin-top:15px; 
	}
	.biaogeright{
		width:330px;
		height: 210px;
		margin: -225px 0px 0px 330px;
		float: left;
	}
	.biaogeright li{
		float: left;
		margin-top:15px; 
	}
	#maintopb{
		width: 339px;
		height: 240px;
		margin: -271px 0px 0px 662px;
		border: #aacef2  1px solid;
		background: url(../images/pd_jiaobiao.jpg) no-repeat;
		position: absolute;
	}
	#maintopbleft span{
	    font-size: 14px;
	    font-weight: bold;
	    color: #0041a6;
	    margin: 0px 0px 0px 20px;
	}
	#maintopbright img{
		width: 170px;
		height: 25px;
		margin: -19px 0px 0px 170px;
		position:absolute;
	}
	#maintopbright span{
	    font-size: 14px;
	    font-weight: bold;
	    color: #0041a6;
	    margin: -16px 0px 0px 280px;
	    position: absolute;
	}
	#biaogeb{
		margin: -241px 0px 0px 662px;
		width: 339px;
		height: 210px;
		border: #aacef2  1px solid;
	}
	a:hover {
	    color: #cc0000;
	}
	#biaogeb ul{
		padding:0px 10px; 
	    font-size: 10pt;
	    list-style-type: none;
	    text-decoration: none;
	}
	.biaogebleft{
		width:330px;
		height: 210px;
	}
	.biaogebleft li{
		margin-top:15px; 
	}
	.biaogebright{
		width:330px;
		height: 210px;
		margin: -225px 0px 0px 330px;
		float: left;
	}
	.biaogebright li{
		float: left;
		margin-top:15px; 
	}
	#mainmid{
		width: 780px;
		height: 240px;
		margin: 0px 0px 0px 0px;
		border: #aacef2  1px solid;
		background: url(../images/pd_jiaobiao.jpg) no-repeat;
		position: absolute;
	}
	#mainmidleft span{
	    font-size: 14px;
	    font-weight: bold;
	    color: #0041a6;
	    margin: 0px 0px 0px 20px;
	}
	#mainmidright img{
		width: 610px;
		height: 25px;
		margin: -19px 0px 0px 170px;
		position:absolute;
	}
	#mainmidright span{
	    font-size: 14px;
	    font-weight: bold;
	    color: #0041a6;
	    margin: -15px 0px 0px 720px;
	    position: absolute;
	}
	#biaogec{
		margin: 30px 0px;
		width: 780px;
		height: 210px;
		border: #aacef2  1px solid;
	}
	a:hover {
	    color: #cc0000;
	}
	#biaogec ul{
		padding:0px 10px; 
	    font-size: 10pt;
	    list-style-type: none;
	    text-decoration: none;
	}
	.biaogecleft{
		width:400px;
		height: 210px;
	}
	.biaogecleft li{
		margin-top:15px; 
	}
	.biaogecright{
		width:400px;
		height: 210px;
		margin: -225px 0px 0px 390px;
		float: left;
	}
	.biaogecright li{
		margin-top:15px; 
	}
	#mainfoot{
		width: 780px;
		height: 180px;
		margin: -20px 0px 0px 0px;
		border: #aacef2  1px solid;
		background: url(../images/pd_jiaobiao.jpg) no-repeat;
		position: absolute;
	}
	#mainfootleft span{
	    font-size: 14px;
	    font-weight: bold;
	    color: #0041a6;
	    margin: 0px 0px 0px 20px;
	}
	#mainfootright img{
		width: 610px;
		height: 25px;
		margin: -20px 0px 0px 170px;
		position:absolute;
	}
	#mainfootright span{
	    font-size: 14px;
	    font-weight: bold;
	    color: #0041a6;
	    margin: -15px 0px 0px 720px;
	    position: absolute;
	}
	#biaoged{
		margin: 40px 0px;
		width: 780px;
		height: 150px;
		border: #aacef2  1px solid;
	}
	a:hover {
	    color: #cc0000;
	}
	#biaoged ul{
		padding:0px 10px; 
	    font-size: 10pt;
	    list-style-type: none;
	    text-decoration: none;
	}
	.biaogedleft{
		width:450px;
		height: 210px;
	}
	.biaogedleft li{
		margin-top:15px; 
	}
	.biaogedright{
		width:450px;
		height: 210px;
		margin: -210px 0px 0px 390px;
		float: left;
	}
	#mainside{
		width: 213px;
		height: 400px;
		margin: -470px 0px 0px 785px;
		border: #aacef2  1px solid;
		background: url(../images/pd_jiaobiao2.jpg) no-repeat;
		position: absolute;
	}
	#mainside span{
	    font-size: 14px;
	    font-weight: bold;
	    color: #0041a6;
	    margin: 0px 0px 0px 40px;
	}
	#mainside img{
		float: left;
		width: 200px;
		height: 54px;
		margin: 5px 0px 0px 0px;
		padding: 3px 10px 0px 10px;
	}
	#foot{
		background-color: white; 
	}
	#foot{
		width: 1003px;
		height: 89px;
		margin: -15px 0px;
		background: url(../images/pd_foot.png) no-repeat;
		background-color: white;
	}
	#on span{
		margin: 10px 300px;
	    font-size: 14px;
	    font-family: 微软雅黑;
	    color: #333333;
	}
	#down span{
		margin: 0px 300px;
	    font-size: 14px;
	    font-family: 微软雅黑;
	    color: #333333;
	}
	#foot img{
		margin: 10px 450px;
	}


